<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace : mapper接口的完全限定名 -->
<mapper namespace="xiongjunmiao.top.Website.mapper.AppUserMapper">

    <select id="findByUsername" parameterType="String" resultType="AppUser">
        select * FROM t_appuser WHERE username=#{username}
    </select>

</mapper>